# üëí [E-14] Movielens ÏòÅÌôî Ï∂îÏ≤ú Ïã§Ïäµ

Ïù¥Ï†ÑÏóê Îã§Î£¨ MF Î™®Îç∏ ÌïôÏäµ Î∞©Î≤ïÏùÑ ÌÜ†ÎåÄÎ°ú, ÎÇ¥Í∞Ä Ï¢ãÏïÑÌï†ÎßåÌïú ÏòÅÌôî Ï∂îÏ≤ú ÏãúÏä§ÌÖú Ï†úÏûëÌï¥Î≥¥Í∏∞.

### üê¨ Movielens Îç∞Ïù¥ÌÑ∞
: Ï∂îÏ≤ú ÏãúÏä§ÌÖúÏùò MNISTÎùº Î∂ÄÎ•ºÎßåÌïú Movielens Îç∞Ïù¥ÌÑ∞

<br/>

**‚úîÔ∏è Ï°∞Í±¥**
- Ïú†Ï†ÄÍ∞Ä ÏòÅÌôîÏóê ÎåÄÌï¥ ÌèâÏ†êÏùÑ Îß§Í∏¥ Îç∞Ïù¥ÌÑ∞Í∞Ä Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞ Î≥ÑÎ°ú ÏûàÏùå: **`MovieLens 1M Dataset`** ÏÇ¨Ïö© Í∂åÏû•
- Î≥ÑÏ†ê Îç∞Ïù¥ÌÑ∞Îäî ÎåÄÌëúÏ†ÅÏù∏ explicit Îç∞Ïù¥ÌÑ∞ -> implicit Îç∞Ïù¥ÌÑ∞Î°ú Í∞ÑÏ£ºÌïòÍ≥† ÌÖåÏä§Ìä∏Ìï¥Î≥¥Í∏∞
- Î≥ÑÏ†êÏùÑ **ÏãúÏ≤≠ÌöüÏàò**Î°ú Ìï¥ÏÑùÌïòÍ∏∞
- Ïú†Ï†ÄÍ∞Ä 3Ï†ê ÎØ∏ÎßåÏúºÎ°ú Ï§Ä Îç∞Ïù¥ÌÑ∞Îäî ÏÑ†Ìò∏ÌïòÏßÄ ÏïäÎäîÎã§Í≥† Í∞ÄÏ†ïÌïòÍ∏∞

### 1) Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑÏôÄ Ï†ÑÏ≤òÎ¶¨
Movielens Îç∞Ïù¥ÌÑ∞Î•º Î≥¥Î©¥ `rating.dat` ÏïàÏóê Ïù¥ÎØ∏ Ïù∏Îç±Ïã±ÍπåÏßÄ ÏôÑÎ£åÌïú ÏÇ¨Ïö©Ïûê-ÏòÅÌôî-ÌèâÏ†ê Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ïÎ¶¨ÎêòÏñ¥ ÏûàÏùå

In [1]:
import pandas as pd
import os

In [2]:
rating_file_path = os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'

ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding="ISO-8859-1")

orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [3]:
# 3Ï†ê Ïù¥ÏÉÅÎßå ÎÇ®ÍπÅÎãàÎã§.
ratings = ratings[ratings['ratings'] >= 3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# ratings Ïª¨ÎüºÏùò Ïù¥Î¶ÑÏùÑ countsÎ°ú Î∞îÍøâÎãàÎã§.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [5]:
ratings.head()

   user_id  movie_id  counts  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [6]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [7]:
# ÏòÅÌôî Ï†úÎ™©ÏùÑ Î≥¥Í∏∞ ÏúÑÌï¥ Î©îÌÉÄ Îç∞Ïù¥ÌÑ∞Î•º ÏùΩÏñ¥ÏòµÎãàÎã§.
movie_file_path = os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'

cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

### - Ï∂îÍ∞ÄÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ

In [8]:
movies.tail() # indexÏôÄ idÍ∞Ä Îã§Î•¥Íµ¨ÎÇò.

      movie_id                       title           genre
3878      3948     Meet the Parents (2000)          Comedy
3879      3949  Requiem for a Dream (2000)           Drama
3880      3950            Tigerland (2000)           Drama
3881      3951     Two Family House (2000)           Drama
3882      3952       Contender, The (2000)  Drama|Thriller

In [9]:
sum = 0
for i in range(len(movies)):
    if (i+1) != movies['movie_id'][i]:
#         print(i)
        sum += 1
    
print(sum)
# movies['movie_id']

3793

In [10]:
movies[88:93] # movie_idÍ∞Ä 1Î∂ÄÌÑ∞ Ï∞®Î°ÄÎåÄÎ°ú Ï°¥Ïû¨ÌïòÏßÄ ÏïäÎäîÎã§.

    movie_id                               title            genre
88        89                 Nick of Time (1995)  Action|Thriller
89        90  Journey of August King, The (1995)            Drama
90        92                  Mary Reilly (1996)   Drama|Thriller
91        93          Vampire in Brooklyn (1995)   Comedy|Romance
92        94              Beautiful Girls (1996)            Drama

In [91]:
ratings['user_id'].head()

0    1
1    1
2    1
3    1
4    1
Name: user_id, dtype: int64

In [90]:
ratings['user_id'].tail()

1000203    6040
1000205    6040
1000206    6040
1000207    6040
1000208    6040
Name: user_id, dtype: int64

In [89]:
ratings['user_id'].nunique()

# user_idÎèÑ Ïù∏Îç±Ïä§Îäî 1~6040Ïù¥Îùº Ï¥ù 6040Ïù¥Îùº ÏÉùÍ∞ÅÌñàÏßÄÎßå,
# nunique()Î°ú ÌåêÎ≥ÑÌï¥Î≥¥Îãà Ï¥ù 6039Í∞úÏòÄÎã§.
# ÎßàÏ∞¨Í∞ÄÏßÄÎ°ú Ï§ëÍ∞ÑÏóê Îπ†ÏßÑ idÍ∞Ä ÏûàÎã§. (1Î∂ÄÌÑ∞ Ï∞®Î°ÄÎåÄÎ°ú Ï°¥Ïû¨ÌïòÏßÄ ÏïäÎäîÎã§.)

6039

- movie_idÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ìï©Ï≥ê ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÎßåÎì§Í∏∞
> - `how=left` ÏÜçÏÑ±ÏùÑ ÌÜµÌï¥ ratings Îç∞Ïù¥ÌÑ∞Ïóê moviesÎ•º Î∂ôÏù¥Í≥†, `on='movie_id'` ÏÜçÏÑ±ÏùÑ ÌÜµÌï¥ `movie_id`Î•º Í∏∞Ï§ÄÏúºÎ°ú Ìï©ÏπúÎã§.

In [12]:
len(ratings), len(movies)

(836478, 3883)

In [13]:
df = pd.merge(ratings, movies, how='left', on='movie_id')
df.head()

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy

In [14]:
df.groupby('user_id')['movie_id'].count().describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: movie_id, dtype: float64

In [15]:
df['movie_id'].nunique(), df['title'].nunique()

(3628, 3628)

### 2) Î∂ÑÏÑùÌï¥Î≥¥Í∏∞

> ratingsÏóê ÏûàÎäî Ïú†ÎãàÌÅ¨Ìïú ÏòÅÌôî Í∞úÏàò

In [16]:
ratings['movie_id'].nunique()

3628

In [17]:
df['movie_id'].nunique()

3628

> ratingsÏóê ÏûàÎäî Ïú†ÎãàÌÅ¨Ìïú ÏÇ¨Ïö©Ïûê Ïàò

In [18]:
ratings['user_id'].nunique()

6039

In [19]:
df['user_id'].nunique()

6039

> Í∞ÄÏû• Ïù∏Í∏∞ ÏûàÎäî ÏòÅÌôî 30Í∞ú (Ïù∏Í∏∞Ïàú)

In [20]:
df.head()

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy

In [21]:
df.groupby('title').count()['counts'].sort_values(ascending=False)[:30]

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: counts, dtype: int64

### 3) ÎÇ¥Í∞Ä ÏÑ†Ìò∏ÌïòÎäî ÏòÅÌôîÎ•º 5Í∞ÄÏßÄ Í≥®Îùº ratingsÏóê Ï∂îÍ∞ÄÌï¥Ï£ºÍ∏∞
> ÏùºÎã® Í≤ÄÏÉâÏù¥ easyÌïòÍ∏∞ ÏúÑÌï¥ titleÏùÑ ÏÜåÎ¨∏ÏûêÎ°ú Î∞îÍøîÏ§ÄÎã§.

In [22]:
df['title'] = df['title'].str.lower()

In [23]:
df.head()

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,one flew over the cuckoo's nest (1975),Drama
1,1,661,3,978302109,james and the giant peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,my fair lady (1964),Musical|Romance
3,1,3408,4,978300275,erin brockovich (2000),Drama
4,1,2355,5,978824291,"bug's life, a (1998)",Animation|Children's|Comedy

> ÌïÑÏöîÌïú Ïó¥Îßå ÎÉÖÎëêÍ∏∞
>> - `movie_id`ÏôÄ `title`ÏùÄ Ïã§ÏßàÏ†ÅÏúºÎ°ú Í∞ôÏùÄ ÏùòÎØ∏Îùº ÌåêÎã® -> `movie_id` Ï†úÍ±∞
>> - `timestamp` Ï†úÍ±∞

In [24]:
data_copy = df.copy()

In [25]:
data = data_copy.drop(['movie_id', 'timestamp'], axis=1)
data.head()

,user_id,counts,title,genre
0,1,5,one flew over the cuckoo's nest (1975),Drama
1,1,3,james and the giant peach (1996),Animation|Children's|Musical
2,1,3,my fair lady (1964),Musical|Romance
3,1,4,erin brockovich (2000),Drama
4,1,5,"bug's life, a (1998)",Animation|Children's|Comedy

> - mis√©rables, les (1998)
> - king kong (1933)
> - men in black (1997)
> - soldier's story, a (1984)
> - back to the future (1985)

In [26]:
print(
data[data['title'] == "mis√©rables, les (1998)"][:1]['genre'],
data[data['title'] == "king kong (1933)"][:1]['genre'],
data[data['title'] == "men in black (1997)"][:1]['genre'],
data[data['title'] == "soldier's story, a (1984)"][:1]['genre'],
data[data['title'] == "back to the future (1985)"][:1]['genre'])

99    Drama
Name: genre, dtype: object 228    Action|Adventure|Horror
Name: genre, dtype: object 185    Action|Adventure|Comedy|Sci-Fi
Name: genre, dtype: object 96    Drama
Name: genre, dtype: object 22    Comedy|Sci-Fi
Name: genre, dtype: object

In [27]:
my_fav = ['mis√©rables, les (1998)', 'king kong (1933)', 'men in black (1997)', "soldier's story, a (1984)", 'back to the future (1985)']
gen = ['Drama', 'Action|Adventure|Horror', 'Action|Adventure|Comedy|Sci-Fi', 'Drama', 'Comedy|Sci-Fi']

my_movie = pd.DataFrame({'user_id': ['yeon']*5,
                         'counts':[5]*5,
                         'title': my_fav,
                         'genre': gen
                         })

if not data.isin({'user_id': ['yeon']})['user_id'].any():  # user_idÏóê 'yeon'Ïù¥ÎùºÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎã§Î©¥
    data = data.append(my_movie)                           # ÏúÑÏóê ÏûÑÏùòÎ°ú ÎßåÎì† my_movie Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÍ∞ÄÌï¥ Ï§çÎãàÎã§. 

data.tail(10)       # Ïûò Ï∂îÍ∞ÄÎêòÏóàÎäîÏßÄ ÌôïÏù∏Ìï¥ Î¥ÖÏãúÎã§.

,user_id,counts,title,genre
836473,6040,3,platoon (1986),Drama|War
836474,6040,5,"crying game, the (1992)",Drama|Romance|War
836475,6040,5,welcome to the dollhouse (1995),Comedy|Drama
836476,6040,4,sophie's choice (1982),Drama
836477,6040,4,e.t. the extra-terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
0,yeon,5,"mis√©rables, les (1998)",Drama
1,yeon,5,king kong (1933),Action|Adventure|Horror
2,yeon,5,men in black (1997),Action|Adventure|Comedy|Sci-Fi
3,yeon,5,"soldier's story, a (1984)",Drama
4,yeon,5,back to the future (1985),Comedy|Sci-Fi

In [28]:
data['user_id'].nunique(), data['title'].nunique(), data['genre'].nunique()

(6040, 3628, 301)

In [29]:
# Í≥†Ïú†Ìïú Ïú†Ï†Ä, ÌÉÄÏù¥ÌãÄÏùÑ Ï∞æÏïÑÎÇ¥Îäî ÏΩîÎìú
user_unique = data['user_id'].unique()
title_unique = data['title'].unique()

# Ïú†Ï†Ä, ÌÉÄÏù¥ÌãÄ indexing ÌïòÎäî ÏΩîÎìú idxÎäî indexÏùò ÏïΩÏûêÏûÖÎãàÎã§.
user_to_idx = {v: k for k, v in enumerate(user_unique)} # id: index
title_to_idx = {v: k for k, v in enumerate(title_unique)} # artist: index

In [30]:
len(user_unique), len(title_unique)

(6040, 3628)

In [31]:
print(user_to_idx['yeon']) # yeonÏù¥ ÎßàÏßÄÎßâ Ïú†Ï†Ä Ïù∏Îç±Ïä§Î°ú Ïûò Îì§Ïñ¥ÏôîÎã§.
print(title_to_idx["mis√©rables, les (1998)"])

6039
98

In [32]:
# indexingÏùÑ ÌÜµÌï¥ Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº ÎÇ¥ Í∞íÏùÑ Î∞îÍæ∏Îäî ÏΩîÎìú
# dictionary ÏûêÎ£åÌòïÏùò get Ìï®ÏàòÎäî https://wikidocs.net/16 ÏùÑ Ï∞∏Í≥†ÌïòÏÑ∏Ïöî.

# user_to_idx.getÏùÑ ÌÜµÌï¥ user_id Ïª¨ÎüºÏùò Î™®Îì† Í∞íÏùÑ Ïù∏Îç±Ïã±Ìïú SeriesÎ•º Íµ¨Ìï¥ Î¥ÖÏãúÎã§. 
# ÌòπÏãú Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Ïù∏Îç±Ïã±ÎêòÏßÄ ÏïäÏùÄ rowÍ∞Ä ÏûàÎã§Î©¥ Ïù∏Îç±Ïä§Í∞Ä NaNÏù¥ Îê† ÌÖåÎãà dropna()Î°ú Ï†úÍ±∞Ìï©ÎãàÎã§. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # Î™®Îì† rowÍ∞Ä Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Ïù∏Îç±Ïã±ÎêòÏóàÎã§Î©¥
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']ÏùÑ Ïù∏Îç±Ïã±Îêú SeriesÎ°ú ÍµêÏ≤¥Ìï¥ Ï§çÎãàÎã§. 
else:
    print('user_id column indexing Fail!!')

# title_to_idxÏùÑ ÌÜµÌï¥ artist Ïª¨ÎüºÎèÑ ÎèôÏùºÌïú Î∞©ÏãùÏúºÎ°ú Ïù∏Îç±Ïã±Ìï¥ Ï§çÎãàÎã§. 
temp_title_data = data['title'].map(title_to_idx.get).dropna()
if len(temp_title_data) == len(data):
    print('title column indexing OK!!')
    data['title'] = temp_title_data
else:
    print('title column indexing Fail!!')

data

user_id column indexing OK!!
title column indexing OK!!

    user_id  counts  title                           genre
0         0       5      0                           Drama
1         0       3      1    Animation|Children's|Musical
2         0       3      2                 Musical|Romance
3         0       4      3                           Drama
4         0       5      4     Animation|Children's|Comedy
..      ...     ...    ...                             ...
0      6039       5     98                           Drama
1      6039       5    196         Action|Adventure|Horror
2      6039       5    175  Action|Adventure|Comedy|Sci-Fi
3      6039       5     95                           Drama
4      6039       5     22                   Comedy|Sci-Fi

[836483 rows x 4 columns]

### 4) CSR Matrix ÏßÅÏ†ë ÎßåÎì§Í∏∞

In [33]:
data['user_id'].nunique(), data['title'].nunique()

(6040, 3628)

In [34]:
# Ïã§Ïäµ ÏúÑÏóê ÏÑ§Î™ÖÎ≥¥Í≥† Ïù¥Ìï¥Ìï¥ÏÑú ÎßåÎì§Ïñ¥Î≥¥Í∏∞
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_title = data['title'].nunique()

csr_data = csr_matrix((data.counts, (data.user_id, data.title)), shape=(num_user, num_title))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [35]:
print(csr_data)

  (0, 0)	5
  (0, 1)	3
  (0, 2)	3
  (0, 3)	4
  (0, 4)	5
  (0, 5)	3
  (0, 6)	5
  (0, 7)	5
  (0, 8)	4
  (0, 9)	4
  (0, 10)	5
  (0, 11)	4
  (0, 12)	4
  (0, 13)	4
  (0, 14)	5
  (0, 15)	4
  (0, 16)	3
  (0, 17)	4
  (0, 18)	5
  (0, 19)	4
  (0, 20)	3
  (0, 21)	3
  (0, 22)	5
  (0, 23)	5
  (0, 24)	3
  :	:
  (6038, 2311)	4
  (6038, 2317)	5
  (6038, 2386)	4
  (6038, 2394)	5
  (6038, 2424)	4
  (6038, 2437)	4
  (6038, 2446)	5
  (6038, 2471)	4
  (6038, 2511)	5
  (6038, 2523)	4
  (6038, 2559)	3
  (6038, 2560)	4
  (6038, 2631)	5
  (6038, 2648)	4
  (6038, 2654)	5
  (6038, 2738)	4
  (6038, 2740)	5
  (6038, 2857)	5
  (6038, 2860)	3
  (6038, 3311)	5
  (6039, 22)	5
  (6039, 95)	5
  (6039, 98)	5
  (6039, 175)	5
  (6039, 196)	5

### 5) als_model = AlternatingLeastSquares Î™®Îç∏ÏùÑ ÏßÅÏ†ë Íµ¨ÏÑ±Ìï¥ ÌõàÎ†® ÏãúÌÇ§Í∏∞

In [36]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit ÎùºÏù¥Î∏åÎü¨Î¶¨ÏóêÏÑú Í∂åÏû•ÌïòÍ≥† ÏûàÎäî Î∂ÄÎ∂ÑÏûÖÎãàÎã§. ÌïôÏäµ ÎÇ¥Ïö©Í≥ºÎäî Î¨¥Í¥ÄÌï©ÎãàÎã§.
os.environ['OPENBLAS_NUM_THREADS'] = '1'
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'
os.environ['MKL_NUM_THREADS'] = '1'

In [37]:
# Implicit AlternatingLeastSquares Î™®Îç∏Ïùò ÏÑ†Ïñ∏
als_model = AlternatingLeastSquares(factors=100, 
                                    regularization=0.01, 
                                    use_gpu=False, 
                                    iterations=15, 
                                    dtype=np.float32)

In [38]:
# als Î™®Îç∏ÏùÄ inputÏúºÎ°ú (item X user Íº¥Ïùò matrixÎ•º Î∞õÍ∏∞ ÎïåÎ¨∏Ïóê TransposeÌï¥Ï§çÎãàÎã§.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [39]:
# Î™®Îç∏ ÌõàÎ†®
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

### 6) ÎÇ¥Í∞Ä ÏÑ†Ìò∏ÌïòÎäî 5Í∞ÄÏßÄ ÏòÅÌôî Ï§ë ÌïòÎÇòÏôÄ Í∑∏ Ïô∏Ïùò ÏòÅÌôî ÌïòÎÇòÎ•º Í≥®Îùº ÌõàÎ†®Îêú Î™®Îç∏Ïù¥ ÏòàÏ∏°Ìïú ÎÇòÏùò ÏÑ†Ìò∏ÎèÑ ÌååÏïÖÌï¥Î≥¥Í∏∞

In [40]:
yeon, miserable = user_to_idx['yeon'], title_to_idx['mis√©rables, les (1998)']
yeon_vector, miserable_vector = als_model.user_factors[yeon], als_model.item_factors[miserable]

In [41]:
yeon_vector

array([ 0.10223146,  0.41567594, -0.27738497,  0.12017343, -0.41949466,
       -0.04357485, -0.01972907,  0.4091624 ,  0.4892804 ,  0.54615086,
        0.11377988,  0.2117782 ,  0.0088392 ,  0.50712824, -0.4280614 ,
        0.22757185,  0.61680824, -0.10853993, -0.09536171, -0.32253507,
       -0.1808744 ,  0.14798819,  1.0483569 ,  1.1636428 ,  0.16501772,
       -0.13266475, -0.6215812 , -0.02033659,  0.2740878 ,  0.16976358,
        0.30697903,  0.28227216,  0.57928264, -0.31713188,  0.19659536,
       -0.11899117,  0.81394875, -0.19006501, -0.7696614 ,  0.12688126,
       -0.3400262 , -0.5874306 , -0.55463994,  0.6241994 ,  0.60745037,
       -0.6577938 , -0.6739609 , -0.37751538,  0.00982179,  0.7640779 ,
       -0.6070048 , -0.37419865,  0.3471502 , -0.3369955 , -0.29753348,
       -0.5776674 , -0.26770255,  0.03486999,  0.14616643, -0.09931198,
        0.69273734,  0.93203104,  0.02886639,  0.531077  ,  0.3857499 ,
        0.17034037, -0.3820886 , -0.21078633,  0.20665598, -0.01749097,
       -0.7182968 , -0.3937551 , -0.4177946 , -0.6514497 , -0.40649554,
       -0.5939819 , -0.26065144, -0.2067687 ,  0.1049309 ,  1.1305634 ,
       -0.28312555, -0.19830757,  0.6905712 , -0.17631038, -0.1891739 ,
       -1.1081775 ,  0.01807318, -0.16989933,  0.15178402,  0.85868645,
       -0.05456427,  0.44590712,  0.10556685,  0.18343106,  0.03880651,
        0.01193805, -0.06817147, -0.03054565,  0.30863717, -0.43792248],
      dtype=float32)

In [42]:
miserable_vector

array([-0.00388683,  0.03442129, -0.01294139, -0.02207728, -0.01233814,
        0.0045761 ,  0.00944578,  0.01094749,  0.02332033,  0.024163  ,
        0.01982096, -0.00696979,  0.02119031,  0.00399983,  0.00405479,
        0.02025165,  0.01207358,  0.00851654,  0.01801369,  0.01934545,
       -0.01299634,  0.01437124,  0.00571197,  0.01322639,  0.01525709,
       -0.01032946,  0.00572218,  0.01056943,  0.01485178,  0.02471231,
       -0.01584918,  0.01956293,  0.00331143,  0.01119871,  0.00033239,
       -0.00238855, -0.0019167 ,  0.00140023, -0.0085923 ,  0.01794661,
        0.02230695, -0.01170717, -0.00353177, -0.00477717,  0.02181477,
        0.00565632,  0.00485325, -0.0186134 ,  0.01229157,  0.02689637,
        0.01556346, -0.0069597 ,  0.01195382, -0.01258907,  0.00667704,
        0.01521775, -0.00065525,  0.01368804,  0.00274175,  0.00563149,
       -0.0098778 ,  0.01916235,  0.01845099,  0.00990553, -0.00039155,
       -0.01311252, -0.00845211, -0.0011868 ,  0.00481899,  0.00251072,
       -0.01108837, -0.00714171,  0.01625719, -0.00149465, -0.0025546 ,
        0.00162056,  0.00251393,  0.00628024,  0.00282547,  0.01305624,
       -0.00748695,  0.01860469,  0.02510633, -0.01209134,  0.01432164,
        0.00166942,  0.00343763, -0.00240239, -0.00254075,  0.02584382,
       -0.00010008,  0.00628201,  0.00826989, -0.0052141 , -0.00991311,
        0.00054208,  0.01803782, -0.00191008,  0.00087806,  0.00360359],
      dtype=float32)

In [43]:
# ziminÍ≥º black_eyed_peasÎ•º ÎÇ¥Ï†ÅÌïòÎäî ÏΩîÎìú
np.dot(yeon_vector, miserable_vector)

0.18980479

In [44]:
# print(
# data[data['title'] == "mis√©rables, les (1998)"][:1]['genre'],
# data[data['title'] == "king kong (1933)"][:1]['genre'],
# data[data['title'] == "men in black (1997)"][:1]['genre'],
# data[data['title'] == "soldier's story, a (1984)"][:1]['genre'],
# data[data['title'] == "back to the future (1985)"][:1]['genre'])

In [45]:
king = title_to_idx["king kong (1933)"]
king_vector = als_model.item_factors[king]

men = title_to_idx["men in black (1997)"]
men_vector = als_model.item_factors[men]

soldier = title_to_idx["soldier's story, a (1984)"]
soldier_vector = als_model.item_factors[soldier]

future = title_to_idx["back to the future (1985)"]
future_vector = als_model.item_factors[future]

In [46]:
print(np.dot(yeon_vector, king_vector),
np.dot(yeon_vector, men_vector), 
np.dot(yeon_vector, soldier_vector), 
np.dot(yeon_vector, future_vector))

0.27823105 0.48559764 0.09167732 0.40583813

> ÏÉùÍ∞ÅÎ≥¥Îã§ ÏÑ†Ìò∏ÎèÑÍ∞Ä 1Í≥º Ï∞®Ïù¥Í∞Ä ÎßéÏù¥ ÎÇòÍ≥†, Ïã¨ÏßÄÏñ¥Îäî 0 Í∑ºÏ≤òÏùò Í∞íÎì§ÎèÑ ÎßéÏù¥ ÎÇòÏôîÎã§.

#### Î≥¥ÏßÄ Î™ªÌïú ÏòÅÌôîÏóê ÎåÄÌïú ÏÑ†Ìò∏ÎèÑ ÌôïÏù∏

In [47]:
platoon = title_to_idx["platoon (1986)"]
platoon_vector = als_model.item_factors[platoon]

np.dot(yeon_vector, platoon_vector)

-0.1247444

In [48]:
sophie = title_to_idx["sophie's choice (1982)"]
sophie_vector = als_model.item_factors[sophie]

np.dot(yeon_vector, sophie_vector)

-0.022222796

In [49]:
doll = title_to_idx["welcome to the dollhouse (1995)"]
doll_vector = als_model.item_factors[doll]

np.dot(yeon_vector, doll_vector)

0.062141195

> Î≥¥ÏßÄ Î™ªÌïú ÏòÅÌôîÏóê ÎåÄÌïú ÏÑ†Ìò∏ÎèÑÍ∞Ä Î™®Îëê ÏùåÏàòÍ∞Ä ÎÇòÏò¨ Ï§Ñ ÏïåÏïòÎäîÎç∞ 0.06Ïù∏ Í∞íÎèÑ ÎÇòÏôîÎã§. Ïù¥Îäî yeonÏù¥ ÏãúÏ≤≠Ìïú ÏòÅÌôî `soldier's story a`ÏôÄ 0.02Î∞ñÏóê Ï∞®Ïù¥Í∞Ä ÎÇòÏßÄ ÏïäÎäîÎã§.

### 8) ÎÇ¥Í∞Ä Í∞ÄÏû• Ï¢ãÏïÑÌï†ÎßåÌïú ÏòÅÌôîÎì§ Ï∂îÏ≤úÎ∞õÍ∏∞
### 8-1) ÎπÑÏä∑Ìïú ÏòÅÌôî Ï∞æÍ∏∞

In [50]:
favorite_title = "men in black (1997)"
title_id = title_to_idx[favorite_title]
similar_title = als_model.similar_items(title_id, N=15)
similar_title

[(175, 1.0),
 (107, 0.831708),
 (92, 0.61478126),
 (62, 0.57132185),
 (150, 0.49441674),
 (145, 0.48883635),
 (82, 0.48881575),
 (124, 0.48745483),
 (375, 0.45425677),
 (138, 0.40729585),
 (3466, 0.40442565),
 (60, 0.35737863),
 (3183, 0.35596535),
 (670, 0.35376173),
 (544, 0.35368767)]

In [51]:
# title_to_idx Î•º Îí§ÏßëÏñ¥, indexÎ°úÎ∂ÄÌÑ∞ title Ïù¥Î¶ÑÏùÑ ÏñªÎäî dictÎ•º ÏÉùÏÑ±Ìï©ÎãàÎã§. 
idx_to_title = {v: k for k, v in title_to_idx.items()}
[idx_to_title[i[0]] for i in similar_title]

['men in black (1997)',
 'jurassic park (1993)',
 'terminator 2: judgment day (1991)',
 'total recall (1990)',
 'independence day (id4) (1996)',
 'fifth element, the (1997)',
 'lost world: jurassic park, the (1997)',
 'matrix, the (1999)',
 'face/off (1997)',
 'true lies (1994)',
 'schlafes bruder (brother of sleep) (1995)',
 'star wars: episode i - the phantom menace (1999)',
 'sorority house massacre ii (1990)',
 'galaxy quest (1999)',
 'stargate (1994)']

In [52]:
# ÏúÑÎ•º Ìï®ÏàòÎ°ú Íµ¨ÌòÑÌïòÍ∏∞
def get_similar_title(title_name: str): # ÌÉÄÏûÖ ÌûåÌä∏
    title_id = title_to_idx[title_name]
    similar_title = als_model.similar_items(title_id)
    similar_title = [idx_to_title[i[0]] for i in similar_title]
    return similar_title

get_similar_title("men in black (1997)")

['men in black (1997)',
 'jurassic park (1993)',
 'terminator 2: judgment day (1991)',
 'total recall (1990)',
 'independence day (id4) (1996)',
 'fifth element, the (1997)',
 'lost world: jurassic park, the (1997)',
 'matrix, the (1999)',
 'face/off (1997)',
 'true lies (1994)']

### 8-2) ÎÇ¥Í∞Ä Ï¢ãÏïÑÌï† ÎßåÌïú ÏòÅÌôî Ï∂îÏ≤ú

In [53]:
user = user_to_idx['yeon']

# recommendÏóêÏÑúÎäî user*item CSR MatrixÎ•º Î∞õÏäµÎãàÎã§.
title_recommended = als_model.recommend(user, 
                                        csr_data, 
                                        N=20, 
                                        filter_already_liked_items=True)
title_recommended

[(107, 0.44837394),
 (92, 0.28796017),
 (670, 0.26986974),
 (0, 0.25429463),
 (44, 0.23039778),
 (124, 0.2219212),
 (243, 0.21735065),
 (60, 0.21349567),
 (64, 0.20621061),
 (424, 0.19960901),
 (62, 0.19337395),
 (87, 0.18880908),
 (117, 0.18792754),
 (450, 0.18114169),
 (6, 0.17762613),
 (82, 0.16795927),
 (5, 0.16780601),
 (1004, 0.16420367),
 (154, 0.15631124),
 (26, 0.14648208)]

In [54]:
[idx_to_title[i[0]] for i in title_recommended]

['jurassic park (1993)',
 'terminator 2: judgment day (1991)',
 'galaxy quest (1999)',
 "one flew over the cuckoo's nest (1975)",
 'star wars: episode iv - a new hope (1977)',
 'matrix, the (1999)',
 'ghostbusters (1984)',
 'star wars: episode i - the phantom menace (1999)',
 'star wars: episode vi - return of the jedi (1983)',
 'mis√©rables, les (1995)',
 'total recall (1990)',
 'braveheart (1995)',
 'star wars: episode v - the empire strikes back (1980)',
 'life is beautiful (la vita √® bella) (1997)',
 'ben-hur (1959)',
 'lost world: jurassic park, the (1997)',
 'princess bride, the (1987)',
 'frankenstein (1931)',
 'as good as it gets (1997)',
 'e.t. the extra-terrestrial (1982)']

#### Í∏∞Ïó¨ÎèÑ ÌôïÏù∏

In [55]:
jurassic = title_to_idx['jurassic park (1993)']
explain = als_model.explain(user, csr_data, itemid=jurassic)

In [56]:
[(idx_to_title[i[0]], i[1]) for i in explain[1]]

[('men in black (1997)', 0.347568738931146),
 ('king kong (1933)', 0.033649843947351585),
 ('mis√©rables, les (1998)', 0.030933253977570685),
 ('back to the future (1985)', 0.028904132256918073),
 ("soldier's story, a (1984)", 0.0009355589975818424)]

> ÎÇ¥Í∞Ä Î¥§Îã§Í≥† Ï∂îÍ∞ÄÌïú ÏòÅÌôîÎì§Ïù¥ `jurassic park` ÏòÅÌôîÎ•º Ï∂îÏ≤úÌïòÎäîÎç∞ Í∞ÄÏû• ÎßéÏù¥ Í∏∞Ïó¨ÌñàÏùåÏùÑ Ïïå Ïàò ÏûàÎã§.

## üê¨ 2nd-try
> ÎÇ¥Í∞Ä Ï¢ãÏïÑÌïòÎäî ÏòÅÌôîÎ•º Ï¢Ä Îçî ÏùòÎØ∏ÏûàÍ≤å Ï∂îÏ∂úÌï¥Î≥¥Ïûê.
> - ÎπÑÏä∑Ìïú Ïû•Î•¥Îßå Î¥§Îã§Í≥† Í∞ÄÏ†ïÌïòÍ∏∞

In [57]:
data_copy2 = df.copy()

In [58]:
data = data_copy2.drop(['movie_id', 'timestamp'], axis=1)
data.head()

,user_id,counts,title,genre
0,1,5,one flew over the cuckoo's nest (1975),Drama
1,1,3,james and the giant peach (1996),Animation|Children's|Musical
2,1,3,my fair lady (1964),Musical|Romance
3,1,4,erin brockovich (2000),Drama
4,1,5,"bug's life, a (1998)",Animation|Children's|Comedy

In [59]:
# 'Animation'Ïù¥ Ìè¨Ìï®Îêú Ïû•Î•¥Îßå ÏãúÏ≤≠ÌñàÎã§Í≥† Í∞ÄÏ†ï
data[data['genre'].str.contains('Animation')][100:120]

,user_id,counts,title,genre
1734,18,3,all dogs go to heaven (1989),Animation|Children's
1744,18,5,mulan (1998),Animation|Children's
1745,18,5,aladdin (1992),Animation|Children's|Comedy|Musical
1748,18,4,toy story (1995),Animation|Children's|Comedy
1752,18,5,charlotte's web (1973),Animation|Children's
1754,18,5,"secret of nimh, the (1982)",Animation|Children's
1761,18,5,snow white and the seven dwarfs (1937),Animation|Children's|Musical
1762,18,5,beauty and the beast (1991),Animation|Children's|Musical
1763,18,4,pinocchio (1940),Animation|Children's
1772,18,5,"american tail, an (1986)",Animation|Children's|Comedy
1773,18,3,"american tail: fievel goes west, an (1991)",Animation|Children's|Comedy
1779,18,5,akira (1988),Adventure|Animation|Sci-Fi|Thriller
1780,18,5,ghost in the shell (kokaku kidotai) (1995),Animation|Sci-Fi
1782,18,4,"jungle book, the (1967)",Animation|Children's|Comedy|Musical
1784,18,4,"swan princess, the (1994)",Animation|Children's
1788,18,5,lady and the tramp (1955),Animation|Children's|Comedy|Musical|Romance
1789,18,5,"little mermaid, the (1989)",Animation|Children's|Comedy|Musical|Romance
1792,18,5,fantasia (1940),Animation|Children's|Musical
1793,18,4,101 dalmatians (1961),Animation|Children's
1795,18,4,peter pan (1953),Animation|Children's|Fantasy|Musical

In [60]:
my_fav = ["tarzan (1999)", "toy story (1995)", "cinderella (1950)",
         "beauty and the beast (1991)", "bambi (1942)"]

my_movie = pd.DataFrame({'user_id': ['yeon']*5,
                         'counts': [4]*5,
                         'title': my_fav,
                         'genre': ['Animation']*5
                        })

if not data.isin({'user_id': ['yeon']})['user_id'].any():
    data = data.append(my_movie)
    
data.tail(10)

,user_id,counts,title,genre
836473,6040,3,platoon (1986),Drama|War
836474,6040,5,"crying game, the (1992)",Drama|Romance|War
836475,6040,5,welcome to the dollhouse (1995),Comedy|Drama
836476,6040,4,sophie's choice (1982),Drama
836477,6040,4,e.t. the extra-terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
0,yeon,4,tarzan (1999),Animation
1,yeon,4,toy story (1995),Animation
2,yeon,4,cinderella (1950),Animation
3,yeon,4,beauty and the beast (1991),Animation
4,yeon,4,bambi (1942),Animation

In [61]:
data.isin({'user_id': ['yeon']}).any()

user_id     True
counts     False
title      False
genre      False
dtype: bool

In [62]:
data.isin({'user_id': ['yeon']})['user_id'].any()

True

In [63]:
data['user_id'].nunique(), data['title'].nunique(), data['genre'].nunique()

(6040, 3628, 301)

In [64]:
# Í≥†Ïú†Ìïú Ïú†Ï†Ä, ÌÉÄÏù¥ÌãÄÏùÑ Ï∞æÏïÑÎÇ¥Îäî ÏΩîÎìú
user_unique = data['user_id'].unique()
title_unique = data['title'].unique()

# Ïú†Ï†Ä, ÌÉÄÏù¥ÌãÄÏùÑ indexingÌïòÎäî ÏΩîÎìú
user_to_idx = {v: k for k, v in enumerate(user_unique)}
title_to_idx = {v: k for k, v in enumerate(title_unique)}

In [65]:
print(user_to_idx['yeon']) # ÎßàÏßÄÎßâ indexÎ°ú Ïûò Îì§Ïñ¥Ïò¥

6039

In [66]:
user_to_idx.get

In [67]:
# user_to_idx.getÏùÑ ÌÜµÌï¥ user_to_idxÏùò Î™®Îì† key, valueÎ•º SeriesÎ°ú Íµ¨Ìï®
# .map()ÏùÑ ÌÜµÌï¥ data['user_id']ÏôÄ Í∞ôÏùÄ keyÎ•º Í∞ñÎäî valueÎ•º map ÏãúÏºúÏ§å
# Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Ïù∏Îç±Ïã± ÎêòÏßÄ ÏïäÏùÄ rowÏùò Í≤ΩÏö∞ Ïù∏„Ñ∑Í≤åÏä§Í∞Ä NaNÏù¥ Îê†ÌÖåÎãà dropna()Î°ú Ï†úÍ±∞
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data # data['user_id']Î°ú Ïù∏Îç±Ïã±Îêú SeriesÎ°ú ÍµêÏ≤¥Ìï¥Ï§å
else:
    print('user_id column indexing Fail!!')

# title_to_idxÏùÑ ÌÜµÌï¥ artist Ïª¨ÎüºÎèÑ ÎèôÏùºÌïú Î∞©ÏãùÏúºÎ°ú Ïù∏Îç±Ïã±Ìï¥ Ï§çÎãàÎã§. 
temp_title_data = data['title'].map(title_to_idx.get).dropna()
if len(temp_title_data) == len(data):
    print('title column indexing OK!!')
    data['title'] = temp_title_data
else:
    print('title column indexing Fail!!')

data

user_id column indexing OK!!
title column indexing OK!!

    user_id  counts  title                         genre
0         0       5      0                         Drama
1         0       3      1  Animation|Children's|Musical
2         0       3      2               Musical|Romance
3         0       4      3                         Drama
4         0       5      4   Animation|Children's|Comedy
..      ...     ...    ...                           ...
0      6039       4     16                     Animation
1      6039       4     40                     Animation
2      6039       4     37                     Animation
3      6039       4     10                     Animation
4      6039       4     17                     Animation

[836483 rows x 4 columns]

In [68]:
# CSR Matrix
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_title = data['title'].nunique()

csr_data = csr_matrix((data.counts, (data.user_id, data.title)), shape=(num_user, num_title))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [69]:
print(csr_data)

  (0, 0)	5
  (0, 1)	3
  (0, 2)	3
  (0, 3)	4
  (0, 4)	5
  (0, 5)	3
  (0, 6)	5
  (0, 7)	5
  (0, 8)	4
  (0, 9)	4
  (0, 10)	5
  (0, 11)	4
  (0, 12)	4
  (0, 13)	4
  (0, 14)	5
  (0, 15)	4
  (0, 16)	3
  (0, 17)	4
  (0, 18)	5
  (0, 19)	4
  (0, 20)	3
  (0, 21)	3
  (0, 22)	5
  (0, 23)	5
  (0, 24)	3
  :	:
  (6038, 2311)	4
  (6038, 2317)	5
  (6038, 2386)	4
  (6038, 2394)	5
  (6038, 2424)	4
  (6038, 2437)	4
  (6038, 2446)	5
  (6038, 2471)	4
  (6038, 2511)	5
  (6038, 2523)	4
  (6038, 2559)	3
  (6038, 2560)	4
  (6038, 2631)	5
  (6038, 2648)	4
  (6038, 2654)	5
  (6038, 2738)	4
  (6038, 2740)	5
  (6038, 2857)	5
  (6038, 2860)	3
  (6038, 3311)	5
  (6039, 10)	4
  (6039, 16)	4
  (6039, 17)	4
  (6039, 37)	4
  (6039, 40)	4

In [70]:
# AlternatingLeastSquares Î™®Îç∏

from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit ÎùºÏù¥Î∏åÎü¨Î¶¨ÏóêÏÑú Í∂åÏû•ÌïòÎäî Î∂ÄÎ∂Ñ (ÌïôÏäµ ÎÇ¥Ïö©Í≥ºÎäî Î¨¥Í¥Ä)
os.environ['OPENBLAS_NUM_THREADS'] = '1'
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'
os.environ['MKL_NUM_THREADS'] = '1'

In [71]:
# Implicit AlternatingSeriesSquares Î™®Îç∏Ïùò ÏÑ†Ïñ∏
als_model = AlternatingLeastSquares(factors=100,
                                    regularization=0.01,
                                    use_gpu=False,
                                    iterations=15,
                                    dtype=np.float32)

In [72]:
# als Î™®Îç∏ÏùÄ inputÏúºÎ°ú item X user Íº¥Ïùò matrixÎ•º Î∞õÏúºÎØÄÎ°ú Transpose Ìï¥Ï£ºÍ∏∞
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [73]:
# Î™®Îç∏ ÌõàÎ†®
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [74]:
# ÎÇ¥Í∞Ä ÏÑ†Ìò∏ÌïòÎäî ÏòÅÌôî ÌïòÎÇò Í≥®Îùº ÌõàÎ†®Îêú Î™®Îç∏Ïù¥ ÏòàÏ∏°Ìïú ÎÇ¥ ÏÑ†Ìò∏ÎèÑ ÌååÏïÖÌï¥Î≥¥Í∏∞
yeon, toy = user_to_idx['yeon'], title_to_idx['toy story (1995)']
yeon_vector, toy_vector = als_model.user_factors[yeon], als_model.item_factors[toy]

In [75]:
yeon_vector

array([-0.03237853, -0.8112134 ,  0.12492882, -0.03238954,  0.16518976,
       -0.13444537,  0.46394488, -0.45214972,  1.0664    ,  0.14171718,
        0.32324138, -0.09487187, -0.10906488,  0.24568687, -0.32574353,
       -0.09812591,  0.38190797,  0.50065655, -0.6000787 ,  0.29480347,
       -0.1102195 ,  0.09189848, -0.10850241,  0.34490606, -0.34320882,
        0.22529666,  0.23808257,  0.22599994,  0.07547922,  0.34988502,
        0.02464161, -0.11065204,  0.7625838 , -0.56317943, -0.23231241,
        0.52497655, -0.39255306, -0.7996937 ,  0.11458381, -0.7375542 ,
       -0.23194315,  0.281631  , -0.59650177, -0.44351617, -0.53230256,
        0.15749614,  0.66059107,  0.2359882 ,  0.01045387, -0.1715315 ,
        0.1062969 , -0.36355722,  0.643036  , -0.24985766,  0.6084954 ,
        0.8096315 , -1.3040098 ,  0.05442179, -0.65849423, -0.01331906,
        0.21130672,  0.1566588 , -1.2179389 , -0.7748289 ,  0.16874771,
        0.29861358,  0.39398307, -0.18725336, -0.07219707,  0.31009877,
        0.13665403, -0.15589824, -0.96906674,  0.53193665,  0.66422224,
        0.5548866 , -0.14735672, -0.10354166,  0.22645772,  0.40676245,
        0.58352673,  0.58672976, -0.27553785,  0.36863244, -0.40547916,
       -0.5294288 ,  0.50438946, -0.33198673,  0.0807227 , -0.13616727,
        0.22842662, -0.5126222 ,  0.48889282,  0.3188237 ,  0.1891502 ,
       -0.35296398,  0.28502783,  0.18260735,  0.04729169,  0.18067169],
      dtype=float32)

In [76]:
toy_vector

array([ 0.00039017, -0.01238247,  0.03578262,  0.00090308,  0.00710632,
        0.00137028,  0.02872787, -0.00205029,  0.00709597,  0.01688072,
        0.01170911, -0.01519036, -0.01800711,  0.01046418,  0.00738228,
       -0.00738027,  0.02148806,  0.02002275, -0.02383891,  0.00746094,
        0.00354295,  0.02138529, -0.00567409,  0.0198663 ,  0.00997763,
        0.00987985,  0.04095101,  0.03317755,  0.01199262, -0.00126008,
        0.01511723,  0.01189682,  0.02140596, -0.03624062,  0.02774235,
        0.02886336,  0.00668471, -0.03119276,  0.00995038, -0.00113635,
       -0.00142319,  0.00567669, -0.0182303 , -0.00989127, -0.00527925,
        0.02816091,  0.0064056 ,  0.02119739, -0.01530181, -0.00073159,
        0.01653981,  0.00631407,  0.00346209, -0.0099992 , -0.02515699,
        0.01123337, -0.04449842,  0.02297432, -0.00128543,  0.02110685,
        0.02061981,  0.0009486 , -0.04445238, -0.00515058,  0.05133826,
        0.00973491,  0.01245662, -0.01554864,  0.00505119,  0.02223887,
        0.01566137, -0.02248052, -0.01971374,  0.01566358,  0.0080593 ,
        0.03583528,  0.00254519,  0.01547762,  0.00689555,  0.02008521,
        0.01869298,  0.02329649,  0.00959579,  0.00056281, -0.00224004,
       -0.0237765 ,  0.01160893, -0.0236678 ,  0.03045613,  0.03814064,
        0.00805202,  0.01090899,  0.03221771,  0.01760301,  0.00685119,
       -0.02421858,  0.00317119,  0.01844485, -0.01404946,  0.01644326],
      dtype=float32)

In [77]:
np.dot(yeon_vector, toy_vector)

0.50357443

In [78]:
my_fav = ["tarzan (1999)", "toy story (1995)", "cinderella (1950)",
         "beauty and the beast (1991)", "bambi (1942)"]

In [79]:
tarzan = title_to_idx["tarzan (1999)"]
tarzan_vector = als_model.item_factors[tarzan]
print(np.dot(yeon_vector, tarzan_vector))

cin = title_to_idx["cinderella (1950)"]
cin_vector = als_model.item_factors[cin]
print(np.dot(yeon_vector, cin_vector))

beauty = title_to_idx["beauty and the beast (1991)"]
beauty_vector = als_model.item_factors[beauty]
print(np.dot(yeon_vector, beauty_vector))

bambi = title_to_idx["bambi (1942)"]
bambi_vector = als_model.item_factors[bambi]
print(np.dot(yeon_vector, bambi_vector))

0.38375247
0.38752672
0.57635146
0.41738373

> ÎèôÏùºÌïú Ïû•Î•¥Îßå Ï∂îÍ∞ÄÌï¥ÏÑú 1Ïóê Îçî Í∞ÄÍπåÏö¥ ÎÜíÏùÄ Í∞íÏùÑ Í∏∞ÎåÄÌñàÎäîÎç∞ 1st-tryÏôÄ Í≤∞Í≥ºÍ∞Ä ÎìúÎùºÎßàÌã±ÌïòÍ≤å Ï∞®Ïù¥ÎÇòÏßÄ ÏïäÏïòÎã§.
> - `title`Í≥º `counts`Î°ú ÏΩòÌÖêÏ∏† Í∏∞Î∞ò ÌïÑÌÑ∞ÎßÅÏùÑ ÏÇ¨Ïö©Ìï¥ Í∏∞ÎåÄÌñàÎçò Í≤É ÎßåÌÅº `genre`ÏôÄ ÍπäÏùÄ Í¥ÄÍ≥ÑÍ∞Ä ÏûàÏßÄ ÏïäÎã§Îäî ÏÉùÍ∞ÅÏù¥ Îì§ÏóàÎã§.

In [80]:
# Î≥¥ÏßÄ Î™ªÌïú ÏòÅÌôîÏóê ÎåÄÌïú ÏÑ†Ìò∏ÎèÑ
one = title_to_idx["one flew over the cuckoo's nest (1975)"] # Drama
one_vector = als_model.item_factors[one]
print(np.dot(yeon_vector, one_vector))

six = title_to_idx["sixth sense, the (1999)"] # Thriller
six_vector = als_model.item_factors[six]
print(np.dot(yeon_vector, six_vector))

-0.0184083
0.031199781

> Î≥¥ÏßÄ Î™ªÌïú ÏòÅÌôîÏóê ÎåÄÌïú ÏÑ†Ìò∏ÎèÑÎäî ÎåÄÎ∂ÄÎ∂Ñ 0 Í∑ºÏ≤òÍ±∞ÎÇò ÏùåÏàòÏûÑÏùÑ Ïïå Ïàò ÏûàÎã§.
> - 1st-tryÎ≥¥Îã§Îäî Ï∞®Ïù¥Í∞Ä ÎßéÏù¥ ÎÇúÎã§.

In [81]:
# ÎπÑÏä∑Ìïú ÏòÅÌôî Ï∂îÏ≤úÎ∞õÍ∏∞
fav_title = "toy story (1995)"
title_id = title_to_idx[fav_title]
similar_title = als_model.similar_items(title_id, N=15)
similar_title

[(40, 0.9999999),
 (50, 0.7975026),
 (322, 0.6030621),
 (33, 0.5977157),
 (4, 0.57841027),
 (110, 0.52970064),
 (330, 0.48881882),
 (20, 0.4782641),
 (10, 0.47476017),
 (255, 0.42414254),
 (126, 0.39045945),
 (160, 0.37999249),
 (34, 0.37962848),
 (16, 0.36829722),
 (1825, 0.35697356)]

In [82]:
# indexÎ°úÎ∂ÄÌÑ∞ title Ïù¥Î¶ÑÏùÑ ÏñªÎäî dict ÏÉùÏÑ±
idx_to_title = {v: k for k, v in title_to_idx.items()}
# [idx_to_title[i[0]] for i in similar_title]

In [83]:
# ÏúÑÎ•º Ìï®ÏàòÎ°ú Íµ¨ÌòÑÌïòÍ∏∞
def get_similar_title(title_name: str):
    title_id = title_to_idx[title_name]
    similar_title = als_model.similar_items(title_id)
    similar_title = [idx_to_title[i[0]] for i in similar_title]
    return similar_title

get_similar_title(fav_title) # "toy story (1995)"

['toy story (1995)',
 'toy story 2 (1999)',
 'babe (1995)',
 'aladdin (1992)',
 "bug's life, a (1998)",
 'groundhog day (1993)',
 'lion king, the (1994)',
 'pleasantville (1998)',
 'beauty and the beast (1991)',
 "there's something about mary (1998)"]

> Ï†úÎ™©Îßå Î¥êÎèÑ Î™®Îëê `Animation` ÏòÅÌôîÏûÑÏùÑ Ïïå Ïàò ÏûàÎã§.

In [84]:
# ÎÇ¥Í∞Ä Ï¢ãÏïÑÌï†ÎßåÌïú ÏòÅÌôî Ï∂îÏ≤ú
user = user_to_idx['yeon']

# recommendÏóêÏÑ† user*item CSR MatrixÎ•º Î∞õÏùå
title_recommended = als_model.recommend(user,
                                        csr_data,
                                        N=20,
                                        filter_already_liked_items=True)
title_recommended

[(33, 0.51885164),
 (330, 0.47943527),
 (50, 0.47207084),
 (4, 0.39573058),
 (8, 0.37989622),
 (34, 0.36496577),
 (528, 0.3455613),
 (46, 0.33170196),
 (572, 0.32616752),
 (536, 0.3219366),
 (548, 0.31761724),
 (30, 0.3126245),
 (191, 0.3079758),
 (950, 0.2967661),
 (547, 0.2919436),
 (551, 0.28474638),
 (32, 0.2535414),
 (619, 0.24108833),
 (851, 0.23492028),
 (520, 0.23277721)]

In [85]:
[idx_to_title[i[0]] for i in title_recommended]

['aladdin (1992)',
 'lion king, the (1994)',
 'toy story 2 (1999)',
 "bug's life, a (1998)",
 'snow white and the seven dwarfs (1937)',
 'mulan (1998)',
 'pinocchio (1940)',
 'dumbo (1941)',
 'sleeping beauty (1959)',
 'jungle book, the (1967)',
 'fantasia (1940)',
 'antz (1998)',
 'little mermaid, the (1989)',
 '101 dalmatians (1961)',
 'lady and the tramp (1955)',
 'peter pan (1953)',
 'hercules (1997)',
 'alice in wonderland (1951)',
 'iron giant, the (1999)',
 "charlotte's web (1973)"]

In [86]:
aladdin = title_to_idx['aladdin (1992)']
explain = als_model.explain(user, csr_data, itemid=aladdin)

In [87]:
[(idx_to_title[i[0]], i[1]) for i in explain[1]]

[('beauty and the beast (1991)', 0.22645449233092538),
 ('toy story (1995)', 0.14473115543218437),
 ('tarzan (1999)', 0.08401910869690082),
 ('cinderella (1950)', 0.034960320226042785),
 ('bambi (1942)', 0.021133182191141235)]

> ÎßàÏ∞¨Í∞ÄÏßÄÎ°ú ÎÇ¥Í∞Ä Ï∂îÍ∞ÄÎ°ú ÏûÖÎ†•Ìïú Î™®Îì† ÏòÅÌôîÎì§Ïù¥ `aladdin`ÏùÑ Ï∂îÏ≤úÌïòÎäîÎç∞ Í∞ÄÏû• ÎßéÏù¥ Í∏∞Ïó¨Ìï®ÏùÑ Ïïå Ïàò ÏûàÎã§.

***

# üß§ ÌöåÍ≥†

- ÌèâÏÜå Ï∂îÏ≤úÏãúÏä§ÌÖúÏùÑ Îã§Î£®Îäî ÏïåÍ≥†Î¶¨Ï¶òÏóê ÎåÄÌï¥ ÌÅ∞ Í¥ÄÏã¨Ïù¥ ÏûàÏóàÎäîÎç∞ ÏßÄÎÇú FundamentalÎßå Î≥¥Í≥†Îäî Í∞úÎÖêÏ†ÅÏù∏ Ïù¥Ìï¥ÎèÑ ÏôÑÎ≤ΩÌïòÍ≤å ÎêòÏßÄ ÏïäÏïòÎã§. Ïù¥Î≤à ExplorationÏóêÏÑúÎèÑ CSR MatrixÎÇò MF Î™®Îç∏Ïóê ÎåÄÌï¥ 100% Ïù¥Ìï¥ÌñàÎã§Í≥† ÏûêÎ∂ÄÌï† Ïàú ÏóÜÏßÄÎßå Ïôú ÏÇ¨Ïö©ÌïòÎäîÏßÄ, Ïñ¥Îñ§ Î™®Îç∏ÏùÑ Ïñ¥Îñ§ Î∞©ÏãùÏúºÎ°ú ÏÇ¨Ïö©Ìï† Ïàò ÏûàÎäîÏßÄ Ï°∞Í∏àÏùÄ Î∞∞Ïö∏ Ïàò ÏûàÏóàÎçò Ïû¨Î∞åÎäî ÎÖ∏ÎìúÏòÄÎã§.

<br/>

- Í∑∏ÎèôÏïà Î™ÖÏãúÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ÏÑúÎßå ÏÉùÍ∞ÅÌï¥Î≥¥ÏïòÏßÄ implicitÌïú ÌîºÎìúÎ∞±ÏùÑ Ïñ¥ÎñªÍ≤å Ï≤òÎ¶¨Ìï†ÏßÄ ÍπäÍ≤å ÏÉùÍ∞ÅÌï¥Î≥¥ÏßÄ Î™ªÌñàÎã§. Ïù¥Îäî Îç∞Ïù¥ÌÑ∞Î•º Îã§Î£®Îäî ÏÇ¨ÎûåÏùò Ï£ºÍ¥ÄÍ≥º Îç∞Ïù¥ÌÑ∞Ïùò baselineÏùÑ Î™®Îëê Í≥†Î†§Ìï¥Ïïº ÌïòÎ©∞ Ï†ïÎãµÏù¥ ÏóÜÎã§Í≥† ÏÉùÍ∞ÅÌïòÎäîÎç∞, Îã§Ïùå Î≤àÏóî Ï¢Ä Îçî Î∞ÄÏ†ëÌïòÍ≥† ÎßûÎ¨ºÎ†§ÏûàÎäî Ï°∞Í±¥Îì§ÎèÑ Î∂ÑÏÑùÌï¥Î≥¥Í≥† Ïã∂Îã§.

<br/>

- Ï≤òÏùåÏóî user_idÏôÄ movie_idÍ∞Ä 1Î∂ÄÌÑ∞ Ï∞®Î°ÄÎåÄÎ°ú Ï°¥Ïû¨Ìï† Í±∞Îùº ÏÉùÍ∞ÅÌï¥(ÏõêÎûò Ïà´ÏûêÎ°ú Ï£ºÏñ¥Ï°åÍ∏∞ ÎïåÎ¨∏Ïóê) Íµ≥Ïù¥ ÏòàÏ†úÏ≤òÎüº ÏÉàÎ°ú ÏòÅÏñ¥ Ïù¥Î¶Ñ(ex. `yeon`)ÏùÑ Ï∂îÍ∞ÄÌïòÍ≥†, Ïù¥Î•º `user_to_idx`Î°ú Î≥ÄÌòïÌïòÎäî ÏûëÏóÖÏùÑ Í±∞Ï≥êÏïº ÌïòÎÇò Ïã∂ÏóàÎäîÎç∞, Ï¥àÍ∏∞ nunique()Î°ú ÌååÏïÖÌï¥Î≥¥Îãà Ï§ëÍ∞ÑÏóê Îπà id Í∞íÎì§Ïù¥ Ï°¥Ïû¨ÌñàÎã§. EDA Îïå Ïù¥Îü∞ ÌååÏïÖÏùÄ ÍµâÏû•Ìûà Ï§ëÏöîÌïú Î∂ÄÎ∂ÑÏù¥Îùº ÏÉùÍ∞ÅÎêúÎã§.

<br/>

- ÏßÑÌñâÌïòÎ©∞ Í∞ÄÏû• Í∂ÅÍ∏àÌñàÎçò Î∂ÄÎ∂ÑÏùÄ Ïñ¥Îñ§ ÏõêÎ¶¨Î°ú 1Ïóê Í∞ÄÍπåÏö¥Í≤å ÏÑ†Ìò∏ÎèÑÍ∞Ä ÎÜíÏùÄ Í≤ÉÏù∏ÏßÄ, 1Î≥¥Îã§ ÌÅ∞ Í≤ÉÏùÄ Ïñ¥Îñ§ ÏùòÎØ∏Ïù¥Î©∞Î©∞ 1Î≥¥Îã§ ÏñºÎßàÎÇò Í∞ÄÍπåÏõåÏïº ÎÜíÏùÄ ÏÑ†Ìò∏ÎèÑÎ•º Í∞ñÎäîÎã§Í≥† ÌåêÎã®Ìï† Ïàò ÏûàÎäîÏßÄÏòÄÎã§ (..) Ïù¥Í≤ÉÎèÑ Ï£ºÍ¥ÄÏ†ÅÏù∏ Í≤¨Ìï¥Í∞Ä Îì§Ïñ¥Í∞ÄÏïº ÌïòÎäî Í≤ÉÏùºÍπå ?!?! ÏïÑÎãò ÎÇ¥Í∞Ä Î™®Î•¥Îäî Í≤É ?!?!

<br/>

- Movielens ÏòÅÌôî Ï∂îÏ≤ú Ïã§ÏäµÏóêÏÑú genreÎäî explicitÌïú Îç∞Ïù¥ÌÑ∞Î°ú ÏΩòÌÖêÏ∏† Í∏∞Î∞ò ÌïÑÌÑ∞ÎßÅÏùÑ ÌÜµÌï¥ Ï∂îÏ≤úÌï¥Ï§Ñ Ïàò ÏûàÎäî Í≤É Í∞ôÎã§. `ÌòëÏóÖ ÌïÑÌÑ∞ÎßÅ`Í≥º `ÏΩòÌÖêÏ∏† Í∏∞Î∞ò ÌïÑÌÑ∞ÎßÅ`ÏùÑ Ìï®Íªò ÏÇ¨Ïö©Ìï† Ïàú ÏóÜÏùÑÍπå? ÏÇ¨Ïã§ countsÏôÄ genreÎ•º ÎèôÏãúÏóê Í≥†Î†§Ìï¥ ÏÇ¨Ïö©Ïûê ÎßûÏ∂§Ìòï ÏòÅÌôîÎ•º Ï∂îÏ≤úÌï¥Ï£ºÍ≥† Ïã∂ÏóàÎã§. Î∂ÑÎ™Ö Î∞©Î≤ïÏùÑ ÏûàÏùÑÌÖåÏßÄÎßå ÏïÑÏßÅ Í±∞Í∏∞ÍπåÏßÑ ÍπäÏù¥ Îì§Ïñ¥Í∞ÄÏßÄ Î™ªÌñàÎã§.

<br/>

- 1st-tryÏóêÏÑ† Ïñ¥Îñ§ ÏòÅÌôîÏù∏ÏßÄ Í≥†Î†§ÌïòÏßÄ ÏïäÍ≥† ÏïÑÎ¨¥ ÏòÅÌôîÎì§ÏùÑ Ï∂îÍ∞ÄÌï¥ Îã¥ÏïòÏóàÎäîÎç∞, ÎÇ¥Í∞Ä Î≥∏ ÏòÅÌôîÏóê ÎåÄÌïú & Î≥¥ÏßÄ Î™ªÌïú ÏòÅÌôîÏóê ÎåÄÌïú ÏÑ†Ìò∏ÎèÑÍ∞Ä ÌÅ¨Í≤å Ï∞®Ïù¥Í∞Ä ÎÇòÏßÄ ÏïäÏïòÎã§. recommendÎ°ú ÎÇ¥Í∞Ä Ï¢ãÏïÑÌï† ÎßåÌïú ÏòÅÌôîÎ•º Ï∂îÏ≤úÎ∞õÏïòÏùÑ ÎïåÎèÑ Í∑∏ ÏòÅÌôîÍ∞Ä Ï†ïÎßê ÎÇ¥Í∞Ä Ï∂îÍ∞ÄÌïú ÏòÅÌôîÎì§Í≥º Í¥ÄÎ†®Ïù¥ ÏûàÎäîÏßÄÎèÑ Ïûò ÏïåÏßÄ Î™ªÌï¥ (ÌóàÌóõ^__^..) 2nd-tryÎ•º ÏßÑÌñâÌñàÎäîÎç∞, Ïù¥ Îïê `animation` Ïû•Î•¥Ïùò ÏòÅÌôî ÏúÑÏ£ºÎ°ú Ï∂îÍ∞ÄÌñàÎã§. 1st-tryÎ≥¥Îã® Í≥ÑÏÇ∞Îêú ÏÑ†Ìò∏ÎèÑÍ∞Ä Ï°∞Í∏à ÎÜíÍ∏¥ ÌñàÏßÄÎßå Î≥ÑÎ∞ò Îã§Î•º Í±¥ ÏóÜÏóàÎã§. 3Î≤àÏß∏Î°ú ÏûëÏÑ±Ìïú ÏÑ†Ìò∏ÎèÑ Ï∏°Ï†ï Í∞íÏóê ÎåÄÌïú Ïù¥Ìï¥Í∞Ä ÎêòÏñ¥Ïïº Ìï¥Í≤∞Ìï† Ïàò ÏûàÎäî Î¨∏Ï†úÏù∏ Í≤É Í∞ôÎã§.

<br/>

- ÎòêÌïú Í∏∞Ïó¨ÎèÑ Ï≤¥ÌÅ¨ Î∂ÄÎ∂ÑÏóêÏÑú ÎÇ¥Í∞Ä ÏÉàÎ°≠Í≤å Ï∂îÍ∞ÄÌïú ÏòÅÌôîÎì§Ïù¥ ÏÉà ÏòÅÌôîÎì§ÏùÑ Ï∂îÏ≤úÌïòÎäîÎç∞ Í∞ÄÏû• ÎßéÏù¥ Í∏∞Ïó¨Ìïú Í≤ÉÏùÑ Î≥¥Í≥† Ïñ¥Ï©åÎ©¥ ÎãπÏó∞Ìïú Í±¥Îç∞ ÏõêÎûò Ïù¥Îü∞ Í±¥Í∞Ä..? Ïã∂ÏùÄ ÏùòÎ¨∏ÎèÑ Îì§ÏóàÎã§.

<br/>

- ÌèâÏÜå ÏïåÍ≥†Î¶¨Ï¶òÏùò ÎÖ∏ÏòàÎ°ú ÏÇ¨Îäî Í≤ÉÏùÑ Ï¢ãÏïÑÌï¥ÏÑú (..) Ïó¨Îü¨ Ïú†Ìà¨Î∏å, ÎÑ∑ÌîåÎ¶≠Ïä§ Îì±Ïùò OTT ÏÑúÎπÑÏä§Îì§ ÌòπÏùÄ ÌäπÌûà Î©úÎ°†ÏóêÏÑú ÎÇ¥ ÏÑ†Ìò∏ÎèÑÎ•º ÌååÏïÖÌï¥ Ï∂îÏ≤úÌï¥Ï£ºÎäî ÏùåÏïÖÏù¥ÎÇò Ìïú Ìï¥Í∞Ä ÎÅùÎÇòÍ≥† 1ÎÖÑ Í∞ÑÏùò ÎÇ¥ Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÏÑùÌï¥ Î¶¨Ìè¨Ìä∏Î°ú Î≥¥Ïó¨Ï£ºÎäî Í≤ÉÏùÑ ÍµâÏû•Ìûà Ï¢ãÏïÑÌïúÎã§. ÎÇòÎèÑ Ï∂îÏ≤ú ÏïåÍ≥†Î¶¨Ï¶òÏùò Í∞úÎ∞úÏûêÎ°ú Ïã§ÏÉùÌôúÏóê Ïú†ÏùòÎØ∏Ìïú ÎèÑÏõÄÏùÑ Ï§Ñ Ïàò ÏûàÎäî ÏÇ∂ÏùÑ ÏÇ¥Í≥†Ïã∂Ïñ¥Ï°åÎã§. Ïû¨Î∞åÏóàÎçò ÎÖ∏ÎìúÎã§!